{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body background="{% static 'pexels3.jpg' %}"><center>

    <div style="background-color:rgba(128, 128, 128, 0.418);width: 400px;height:300px;margin-top:100px;border-radius:10px">

        <h2 style="padding-top:20px">Login Page</h2>
        <form action="Loginsub">
        <input type ="text" name="uname" placeholder="Username" style= "width:240px;height:35px; margin:10px ;padding-left:10px " required><br>
        <input type="password" name="pname" placeholder="Password"  style="width:240px;height:35px;margin:10px;padding-left:10px" required><br><br>
        <button type="submit" style="width:240px;height:30px;background-color:#343a40">Submit</button><br><br>
        </form>
    </div>
</center>
    
</body>
</html>